h1 {
  color: orange;
  font-size: small;
}
.main {
  border: 2px solid grey;
  width: 720px;
  margin: 0 auto;
}
.top {
  background-image: url(/Danis/img/top_bg.jpg);
  height: 400px;
  .top_m {
    width: 500px;
    margin: 0 auto;
    height: 400px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }
}
.features {
  background-color: cyan;
  height: 400px;
}
.widget {
  background-color: indigo;
  height: 160px;
}
.screenshot_top {
  background-color: lawngreen;
  height: 150px;
}
.screenshot_middle {
  background-color: mediumblue;
  height: 150px;
}
.screenshot_bottom {
  background-color: saddlebrown;
  height: 150px;
}
.reviews {
  background-color: tomato;
  height: 150px;
}
.download {
  background-color: rgb(255, 0, 191);
  height: 300px;
}
.footer {
  background-color: yellowgreen;
  height: 300px;
}
